
body{
    background-image: url("/images/burgerbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}
h1,h2{
    
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 5px solid orange;
    background-size: cover;
    background-repeat: no-repeat; 
    text-align: center;
    padding: 2%;
    margin-bottom: 20px;
    max-width: 100%;
    height: 120px 
}
li{
    text-align: center;
    color: yellow;
        padding: 5px;
        margin: 5px;
        background: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

button{
    color: tomato;
    text-align: center;
    justify-content: center;
}
.create-update-form {
    padding: 5px;
    margin: 5px;
    

}
div{
    color: yellow;
   
}


.form-group {
    margin-bottom: 5px;

}
.card {
    background-color: black;
    background-size: cover;
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-image: url("/images/burgerimage.jpeg");
}